.header {
  background-color: var(--color-charcoal);
  width: 100%;

  padding: 20px 15px;
  position: sticky;
  top: 0;
  z-index: 10;

  text-align: center;
}

.header-logo {
  height: 44px;
  width: 122px;
}

.header-icon {
  height: 44px;
  width: 44px;

  vertical-align: baseline;

  margin-left: 20px;
}

.bounce {
  animation: bounce 2s ease infinite;
}
@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
